/* 体坛网 */
embed[id="ac_cs_56289_1"],
.main .content .topad,
.main .content .adera,
 
/* 巨鲸音乐网 */
#bottomAd,
 
/* 搜房网 */
a[href*=".soufun.com/adpolestar/"],
iframe[src*=".soufun.com/adpolestar/"],
iframe[src*="soufun.com:80/adsunion/"],
#body .topbanner,
#body .photo02,
#body .photo03,
#body #preloader+.logo,
#body .photo11+.photo02,
#body .photo11+.photo03,
#body .photo11+.search,
#body div[id^="flashlayer"][style*="z-index:"],
#body div[id^="flashlayer"][style*="position:"],
#body div[id^="floating"],
div[id^="SouFun"][style*="z-index: "],
table[width="960"][id="table1"],
.ad700,
*[_fckxhtmljob="1"],
#search+.xibanner,
.adtextlink,
#afp_fa_video,
*[title="关闭背景"],
.top_ad,
.ads,
.ad960x60top,
.ad960x35,
div[style*="BACKGROUND: url(http://imgd.soufun.com/"],
 
/* IT168 */
div[style="border:1px #b3d6f2 solid;padding:1px;width:976px;margin:8px auto 0px;"],
div[id^="ADV_"],
.advdiv,
*[src*="adshow.it168.com"],
iframe[src*="it168.com/zt"],
 
/* pchome */
#popWin,
div[class^="ad "],
div[class*=" ad "],
.ad780.mar_botm,
.adlist,
.container.clearfix.mar_botm .wrap_left#left_event,
a[href^="http://click.pchome.net/?urlid="],
*[src^="http://btn.pchome.net/"],
img[src="http://img.pchome.net/2010/04/02/133735.gif"],
 
/* 硬派网 */
.adtxt01,
div[id^="lovexin"],
*[src*="/inpai_ad/"],
div[style="margin:auto; width:950px; height:60px; padding:0px 0px 5px 0px"],
div[style="margin:auto; width:468px; height:60px; padding:0px 0px 5px 0px"],
 
/* 土豆 */
.bannerad,
*[id^="adex_"],
 
/* CSDN */
.businessad,
.leftad,
.rightad,
.adLeft,
.adRight,
.mainwrap .wrapper DIV[class^="banner_top"],
a[href*=".csdn.net/gmclick.php?"],
#im_popupWindow_miniMsg,
 
/* 迅雷看看 */
a[href^="http://click.cm.sandai.net/UClick?"],
object[id^="obj_"][id*="_randomDiv_"],
.boxad,
 
/* 中国站长站 */
iframe[src^="<A href="http://images.chinaz.com/" _xhe_href="http://images.chinaz.com/" ][src$=".htm">http://images.chinaz.com/"][src$=".htm"],
iframe[src^="<A href="http://images.chinaz.com/" _xhe_href="http://images.chinaz.com/" ][src$=".HTM">http://images.chinaz.com/"][src$=".HTM"],
iframe[src^="http://www.chinaz.com/Union/"],
img[src="/images/gg/dg.jpg"],
#CNZZ_AD_BOTTOM_,
 
/* 卡饭 */
.plc .pct .a_pt,
 
/* 盛大 */
#jnhplayer,
#snda_ibw_PopMsgWindow,
div[id^="bambookad"],
iframe[src^="http://sndasdopassport.sdo.com/sdodownload/passport/SNDAHomepage/"],
 
/* 7gg */
iframe[src*="sf537.com"],
#forumheader .channelinfo,
 
/* macd */
*[src*="xc.macd.cn"],
 
/* bios之家 */
#ad,
 
/* 起点 */
.ibw_tiny_vertical,
#aspnetForm #mainContent div[class^="gg0"],
*[name^="ipa_ads_"],
img[alt="起点广告"],
#fullAD,
*[src^="http://cj.qidian.com/svnad/"],
 
/* verycd */
iframe[src^="http://sponsor.verycd.com"],
iframe[src^="http://sp.vcimg.com"],
.warp-notice .warp-notice2,
#img[style="position: absolute; top: 5880px; left: 0px; "],
 
/* allyes */
*[src*="allyes.cn"],
*[src*="allyes.com"],
 
/* adsame */
*[src*="adsame.com"],
 
/* cntv */
div[id^="iDNA_cou_"],
#remotecontrol.remotecontrol,
.head_adv,
.cntvhp_head .search,
.cntvhp_body .adbox,
embed[src^="http://www.cctv.com/nettv/Library/tongyong/ad/jshow.swf?"],
.advertis#adver,
#ssFlashPlayDiv #ssflashID,
.ADtitle_list,
.logobar DIV[class^="wrap_i"] .searcharea,
iframe[src*="a.cntv.cn"],
 
/* 酷6 */
iframe[src*="ku6afp.allyes.com"],
 
/* 优酷 */
object[data*=".atm.youku.com/"],
img[src*=".atm.youku.com/"],
iframe[src^="http://cpro.baidu.com/cpro/ui/uijs.php?"],
iframe[src^="http://smarttrade.allyes.com"],
 
/* 绿盟 */
iframe[src*="www.xdowns.com/gg/"],
#baidugg,
a[href^="http://www.moneywise.com.cn/Download/download.aspx?"],
 
/* 绿色下载站 */
#greendown *[class^="content ad-"],
#greendown *[class^="ad-"],
#greendown *[src*="/ggao/"],
#greendown iframe[src="/js/comment_g.html"],
 
/* 17173 */
object[id^="hengtong"],
a[href^="http://sohu.ad-plus.cn"],
*[id^="i2IFEP_"],
.banner960120,
.banner750120,
.banner740120,
.wrapper .bannerTextNew,
 
/* 阿里妈妈 */
*[src*="z.alimama.com"],
*[src*="a.alimama.cn"],
 
/* doubleclick */
*[src*="doubleclick.net"],
a[href^="http://ad-apac.doubleclick.net/clk;"],
 
/* Google广告 */
*[src*="pagead2.googlesyndication.com"],
*[src*="www.google-analytics.com"],
*[src*="googleadsserving.cn"],
*[src*="partner.googleadservices.com"],
 
/* 搜狐 */
sohuadcode,
 
/* 中关村 */
#ADTear,
div[id^="AD"][style="width:960px;height:90px;text-align:center;float:none"],
#hq_float,
*[id^="Bar16"],
#Float1265,
.word_ad,
.banner760_1,
.pic_ad,
.banner760 .adSpace,
 
/* discuz论坛 */
.content #hot,
.content #modarea,
.content #ann,
.subject em,
.subject .attach,
.subject .new,
.threadtags,
.postbottom,
#ad_text,
#ad_headerbanner,
.ad_footerbanner,
.ad_column,
.ad_textlink1,
.ad_textlink2,
.forumlinks,
.forumimglink,
.forumtxtlink,
*[class^="ad_float_"],
 
/* 远景 */
#pb_news #pb_n_c_t,
#pb_forum #forumheader,
#viewthread .threadfix #focus,
.postcontent .node-gg,
div[style="margin:10px auto;width:960px;height:60px;"],
div[style*="_margin-right"],
img[src^="http://bbs.pcbeta.com/mse/images/mse-2010-12-16-"],
img[src^="http://bbs.pcbeta.com/taobao/images/"],
 
/* 百度 */
*[src*="cpro.baidu.com"],
*[src*="eiv.baidu.com"],
a[href^="http://www.baidu.com/adrc.php?"],
a[href^="http://www.baidu.com/baidu.php?url="],
*[src^="http://drmcmm.baidu.com/media/id="],
div[style="position:relative;text-align:left;width:760px;height:90px;font-family:宋体;"],
#pg #m #girl,
#rightAd,
#ecomAdDiv,
.c_post_title .forward,
#thread_footer .forward,
.c_post .t,
.c_post_info .c_author .follow,
.c_post_info .c_author .follow_male,
.c_post_info .c_author .follow_female,
#ec_im_container,
*[href^="http://www.baidu.com/adrc.php"],
table[width="65%"][bgcolor="#ebebeb"][style="margin-left: 15px;table-layout:fixed;"],
div[style="position:relative;text-align:left;width:760px;height:90px;font-family:宋体;"],
div[style="margin:0 0 5px 8px;width:84%"],
div[style="display:block;width:1024px;height:90px;"],
#dMA,
#imgNewsList .aside_column,
#ecad,
#center-top-ad,
#center-bottom-ad,
.adv#ecom,
.ad_bnr,
#main_ad,
#ad-brand-down,
#frs_banner_ad,
 
/* 天空软件 */
*[id^="baidu_clb_slot_"],
 
/* 华军软件 */
#wide_ad_unit.wide_ads,
#content .a970,
object[width="970"][height="60"],
*[src*="/newhuagg/"],
.a-intro object[width="300"][height="200"],
 
/* cnbeta */
#h_right #userInfo,
#post #comad,
#foot object,
#content #AdForward,
#sideBar #votes #vote_content,
#sideBar #fm,
#sideBar #fm_r,
#c_focusAndHot #c_ad,
*[src*="u17.com/upload/FCK/image"],
*[src^="http://img.cnbeta.com/youdao"],
*[src^="http://img.cnbeta.com/ks576."],
*[src="http://img.cnbeta.com/gord_300.jpg"],
*[src="http://img.cnbeta.com/rk3d.gif"],
*[src="http://img.cnbeta.com/jd300.jpg"],
*[src="http://www.33hy.com//upload/images/4cd8f468be7a2.gif"],
*[src="http://img.cnbeta.com/tudu576.gif"],
#newsBox #news object[width="576"][height="60"],
#feedback center object[width="300"][height="250"],
*[id*="google_ads"],
#wrapper object[width="950"][height="90"],
a[href*="?from=cnbeta"],
iframe[name="u_a_iframe"],
#wrapper #main #content #contentWrapper #feedback CENTER,
 
/* 驱动之家 */
div[id="sidebar3"][width="100"],
div[class^="l-gg"],
.hang1 .right2,
.hang1 .left3 table[style*="gb(178, 200, 214)"],
*[id^="ad_"],
*[id^="AC_TR86_"],
*[src*="11.mydrivers.com"],
table[width="980"][style="border: 1px solid #5A7EA0"][height="90"],
div[style="padding-top:10px;padding-bottom:3px;"] object[width="468"][height="60"],
div[style="padding:3px;font-size:0px;"],
 
/* 谷歌音乐盒 */
.ads-absolute,
 
/* 太平洋软件 */
*[src^="<A href="http://imgad/" _xhe_href="http://imgad" ][src*=".3conline.com/">http://imgad"][src*=".3conline.com/"],
div[class^="dlcolse"],
div[id="ivyPC"][class="wrap"],
#PcPoPmarket,
*[href*="click?adid="],
object[id^="ad"],
.adv_right1,
.adv_top,
.art_adv_bottom_comment,
.left640 .box2,
 
/* 网易 */
*[id^="i2pd_"],
div[id^="tcldivtf"],
*[href^="http://g.163.com/c?AID="],
.gg *[id^="iframe_banner"],
.ggarea,
iframe[src^="http://g.163.com/r?"],
.rightContent embed[src*="126.net/channel"],
.bg_endPage,
.header .gg,
#ead_ad_14,
.gg360,
.gg200x300,
.endYoDao,
.gg560,
.colL .gg590,
.theme-tl .links .chl,
#divwelcome .part-sec,
.gIbx-tablayout *[id*="FakeLetterDiv"],
.blkTopGoogleSearch,
#conBody .sidebar .HSpace_10,
.RtTxtAD,
#conBody .sidebar .adNone,
#conBody object[width="950"][height="40"],
.Ad_01,
.qyfwBlk,
 
/* 新浪 */
#hotUserList.srch_hotWrap,
#SteamMediaWrap,
#CoupletMediaWrap,
.MIB_mbloglist .tipsBox,
div[class^="missionBox s_bg"],
div[class="widgetIntroduce widgetH2"],
*[src^="<A href="http://d/" _xhe_href="http://d" ][src*=".sina.com.cn">http://d"][src*=".sina.com.cn"],
IFRAME[src*="sina.com.cn/iframe/"],
#seIfm,
#page .topads,
#vlog .AD355125,
*[id^="i2AS_container_div_"],
*[id^="FullScreen"],
*[id*="_AdSame_"],
.grid-640 .adBlock,
.topAD,
*[id^="flashcontent_"],
object[id$="_swf"],
.MIB_mbloglist .PY_clew,
 
/* 凤凰网 */
#topBj *[id^="ad"],
#topBj *[class^="ad"],
#topBj *[id*="FloatFlash"],
#topBj .areaAd,
#topBj #flashad,
#topBj #VideoPlayer,
#topBj .pic660,
#topBj #StreamMediaWrap,
*[id^="i2PT_"],
#StreamMediaWrap #smExtObj,
#StreamMediaWrap #smTagObj,
object[id^="flashad"],
#final_head_ad,
#main_right .right_picAd,
#main_right DIV[class^="adlist"],
IFRAME[src*="all_content_ad_"],
IFRAME[src="http://book.ifeng.com/special/90niandai/blog3/"],
.ad_pic,
.ad_text,
#main_left .maidunbox,
.ad950,
#floatadtarget,
 
/* 腾讯网 */
#yz_enn_div,
.news_ad_box,
a[href*=".qq.com/adsclick?"],
*[src^="<A href="http://ads/" _xhe_href="http://ads" ][src*=".qq.com">http://ads"][src*=".qq.com"],
*[href^="<A href="http://ads/" _xhe_href="http://ads" ][href*=".qq.com">http://ads"][href*=".qq.com"],
*[data^="<A href="http://ads/" _xhe_href="http://ads" ][data*=".qq.com">http://ads"][data*=".qq.com"],
*[display="banner"],
.AdTop-Article-QQ,
#AdRight-Article-QQ,
#sideBars #News_F_UpRight,
.business-Article-QQ,
.AdBox-Article-QQ,
.qiye-Article-QQ,
#QQ_Right_button1,
#QQCOM_Width2,
#QQCOM_Width3,
#QQCOM_Button2,
.adArea #charge_content,
#tipsAll #tipswindow,
div[id="tipsAll"][class="tipwindow"],
#soAdSwf,
#cssSkin DIV[id^="div_kkkl"],
#cssSkin DIV[id^="div_nike"],
*[src*="http://mat1.gtimg.com/worldcup/20100506/27_60_100609.jpg"],
.ad_article_box,
#sideBars embed[id="flash_focus"],
#QQ_Full,
 
/* 115网盘 */
div[class="publicize"][style="width:100%; height:90px;"],
.box .box-inner .row .down-r,
 
/* 天涯 */
*[id^="adsp_"][id*="_banner"],
*[id^="adsp_"][id*="_floatDiv"],
*[id^="FOCUS_"][id*="_AD"],
*[id^="BBS_"][id*="_AD"],
*[id^="CT_"][id*="_AD"],
*[id^="CL_"][id*="_AD"],
.focus_ad,
#adContentDiv,
#couplet_left_NULL,
#couplet_right_NULL,
#ty_msg_box,
#tianyaBrandSpan1,
.ad_w_box,
a[href*="tianya.cn/count?t="],
*[id^="adsp_content_replybox_img_"]
{display:none !important}
 
/* 搜房网 */
.RedStyle{background:url(http://imgd.soufun.com/no.jpg) no-repeat top !important}
 
/* google */
#gsr #center_col #tads:nth-child(1),
#gsr #cnt #rhs:nth-child(3),
 
/* 百度 */
.c_post_info .c_author li:nth-child(2),
.c_post:nth-child(n+4) .c_post_title
{display:none !important}

/* 互联星空 vnet.cn */
#adcss,
[src*="vnet.cn"]
{display:none !important}

/* 118114.cn */
[src*="118114.cn"]
{display:none !important}

/* 中国电信 ct10000.com */
[src*="ct10000.com"]
{display:none !important}

/* doubleclick.net */
a[href*="doubleclick.net"],
[src*="doubleclick.net"]
{display:none !important}

/* 阿里妈妈 */
[src*="z.alimama.com"],
[src*="a.alimama.cn"]
{display:none !important}

/* allyes */
[src*="allyes.cn"],
[src*="allyes.com"]
{display:none !important}

/* adsame.com */
a[href*="adsame.com"],
[src*="adsame.com"]
{display:none !important}

/* Google广告 */
[src*="www.google-analytics.com"],
[src*="static.googleadsserving.cn"],
[src*="partner.googleadservices.com"],
[src*="pagead2.googlesyndication.com"]
{display:none !important}

/* 远景 bbs.pcbeta.com */
iframe[src*="union.ijinshan.com"],
a[href*="js.50bang.org/?formType="],
[src^="./static/image/biz/"],
[id^="ad_thread"],
.pg_forumdisplay #wp [id^="forum_rules_"],
[id^="nv_"] .focus,
#space .focus,
[id^="nv_"] [class^="wp a_"],
#baiduSpFrame,
#appxbanner
{display:none !important}

/* 体坛网 titan24.com */
iframe[id^="ad"][src*="titan24.com"],
[id^="yigao_iframe_"],
.main .content .adera,
#right .rad,
a[href*="/ClickAd?aid="],
.topad,
.adv
{display:none !important}

/* 巨鲸音乐网 top100.cn */
#aspnetForm [style="margin:0 auto;width:1000px;height:100px;"],
#ad_l,
#ad_r,
#bottomAd,
.ads-absolute
{display:none !important}

/* 电影网 m1905.com */
[src^="http://afp.m1905.com/FrameWork/system/afp"],
#topad,
#body_ad img,
#contentbox .ad
{display:none !important}

/* tom.com */
#Tomleftfdad,
#tomad,
.tomadrow
{display:none !important}

/* 搜房网 soufun.com */
.topbanner,
.adtextlink,
#body .photo02,
#body .photo03,
.ad_headline01,
.ad_xfhot01,
.ad_xfhot02,
.ad_bbs01,
.ad_bbs02,
#ad_gold,
.top_ad,
.ad2,
.ad960x60top,
.ad960x60,
.ad960X60,
.ad650X60,
.ad300X60,
#tp_bar,
img[src*="imgd.soufun.com"][width="960"][height="60"],
.wrap object[width="960"][height="60"],
[_fckxhtmljob="1"],
[id^="dlpicleft"],
[id^="dlpicright"],
[src*="soufun.com/adpolestar"],
a[href*="soufun.com/adpolestar"],
[style*="BACKGROUND: url(http://imgd.soufun.com"],
[title="关闭背景"],
[name^="adFrame_"]
{display:none !important}
.RedStyle{background:url(no.gif)!important}

/* it168.com */
[style="border:1px #b3d6f2 solid;padding:1px;width:976px;margin:8px auto 0px;"],
[id^="ADV_"]
{display:none !important}

/* 电脑之家 pchome.net */
.ad960,
.ad780,
#popWin
{display:none !important}

/* 硬派网 inpai.com.cn */
.adtxt01,
#lovexin2,
[src*="/inpai_ad/"]
{display:none !important}

/* 土豆 tudou.com */
#TUI_flashObj_1,
#adex_board,
.bannerad
{display:none !important}

/* csdn.net */
a[href*=".csdn.net/gmclick.php?"],
[id^="ITOP_AD_"],
.gg,
#tlbanner,
.banner_top1,
.banner_top2,
.banner_top3,
.leftad,
.rightad
{display:none !important}

/* 迅雷看看 xunlei.com */
#tipAds,
.adv_area,
.player .playad,
.banner-middle iframe[src*="xunlei.com"],
.banner-middle iframe[src*="taobao.com"],
.banner-middle iframe[src*="sandai.net"],
a[href*="click.cm.sandai.net/UClick?"],
.banner-middle [id*="randomDiv_"],
.adbox,
.boxad
{display:none !important}

/* 卡饭论坛 bbs.kafan.cn */
.header_gg,
#ad_text,
#ad_headerbanner,
.ad_footerbanner,
.ad_column,
.ad_textlink1,
.ad_textlink2,
[class^="ad_float_"],
#nv_forum .a_pt,
#nv_forum [class^="a_"],
#nv_forum [class*=" a_"]
{display:none !important}

/* 7gg.net */
iframe[src*="92gg.com/7gg"],
img[src$="7ggbanner.gif"],
#forumheader .channelinfo
{display:none !important}

/* bbs.macd.cn */
#advlist,
[src*="xc.macd.cn"]
{display:none !important}

/* 起点 qidian.com */
[href*="qidian.com/showavd.aspx?adid="],
iframe[src*="sdo.com/?method=GetAd"],
[src*="qidian.com/svnad/"],
.show_ggpic_990X60,
.show_ggpic_770X60,
.RightAD,
#ctl00_MainZonePart_spanADFrame,
#aspnetForm #mainContent [class^="gg0"]
{display:none !important}

/* verycd.com */
iframe[src*="sp.vcimg.com"]
{display:none !important}

/* 央视 cntv.cn */
#bbspop,
.head_adv,
#iDNA_cou_left,
#iDNA_cou_right,
#idBox.lightbox,
embed[src*="/tongyong/ad/jshow"],
[src^="http://a.cntv.cn"],
[id^="fix_floater"]
{display:none !important}

/* 酷6 ku6.com */
a[href*="ku6.allyes.com"],
a[href*="ku6afp.allyes.com"],
#fvad_div,
.listAd,
iframe[src*="allyes.com"]
{display:none !important}

/* 优酷 youku.com */
[data*="static.atm.youku.com"],
[src*="static.atm.youku.com"]
{display:none !important}

/* 绿盟 xdowns.com */
iframe[src*="www.xdowns.com/gg/"],
#baidugg,
.co_content5 .co_content52
{display:none !important}

/* 绿色下载站 downg.com */
#greendown [class*=" ad-"],
#greendown [class^="ad-"],
#greendown [src*="/ggao/"]
{display:none !important}

/* 17173.com */
[id^="div_meiyi_ad1_tong"],
[id^="div_meiyi_ad1_shu"],
embed[flashvars*="sohu.ad-plus.cn"],
a[href*="sohu.ad-plus.cn"]
{display:none !important}

/* 泡泡网 pcpop.com */
a[href*="my.rashost.com/aff.php?aff="],
[src*="union.vancl.com/adpic.aspx?"],
[src*="ashow.pcpop.com"]
{display:none !important}

/* 搜狐 sohu.com */
iframe[src*="/ads/"],
#sogou_se_tgbar,
#ad_TOP,
#ad_A,
#ad_B,
#ad_C,
#ad_D,
#ad_E,
#ad_F,
#ad_G,
#ad_H,
#ad_M,
#ad_N,
#ad_O,
#ad_P,
#adList,
#div_ad,
#COUPLET,
#COUPLET2,
#BOOKTURN,
.sogouService,
.content-box .lottery-box,
.ad950A,
.bigAd,
.logo-ad,
#FLOAT,
#FLOAT2,
.bodybg .adB,
.ad_fp,
.adTxt,
.ad230,
#TL25_SWF,
#cttbss0,
#cttbss1,
sohuadcode
{display:none !important}

/* 中关村 zol.com.cn */
.adSpace,
.word_ad,
.pic_ad,
.banner760_1,
.ri_ad,
.ad_in_content,
[id^="_AD"],
.bannerleft [id^="AD"],
.banner [id^="AD"],
[id^="rightAdDiv"],
[id^="_FocusAd"],
#top_tl_ad,
#AD1816,
#Float1265
{display:none !important}

/* 百度 baidu.com */
.mbox #toptip,
.ecom-ads-wrap,
.ec_pp_f,
.EC_mr15,
.adm-iframe,
.ad-index-left,
.ad-banner,
.ecom-ad,
[src*="cpro.baidu.com"],
[src*="eiv.baidu.com"],
[src*="cb.baidu.com"],
[src*="cbjs.baidu.com"],
[src*="drmcmm.baidu.com"],
[src*="hm.baidu.com"],
.area-top-ads,
#right-ads,
#ad1,
#ad2,
#center-top-ad,
#center-bottom-ad,
#ecomAdDiv,
#ec_im_container,
#frs_banner_ad,
#rightAd,
#wrapper .ecom,
#wrapper .EC_ppim,
#wrapper .EC_ppim2,
#second .ecom,
a[href*="baidu.com/baidu.php?"],
a[href="http://www.baidu.com/search/post_wap.html"],
a[href*="baidu.com/adrc.php?"]
{display:none !important}

/* 天空软件 skycn.com */
.ad1,
.ad2,
.ad3,
.ad4
{display:none !important}

/* 华军软件 newhua.com */
.ad_top,
.wide_ads,
.allsite .adt,
.allsite .adr,
[class^="ad_ritht_"],
[src*="newhua.com/adimg/"],
[src*="/newhuagg/"]
{display:none !important}

/* cnbeta.com */
[src="http://img.cnbeta.com/szpda300.gif"],
.adsbygoogle,
#aswift_0_anchor,
#googleAd_afc
{display:none !important}

/* 驱动之家 mydrivers.com */
[id^="ad_"][id*="_60_"],
[id^="ad_"][id*="_80_"],
[id^="ad_"][id*="_90_"],
[id^="ad_"][id*="_120_"],
[id^="ad_"][id*="_200_"],
[src^="http://images.mydrivers.com"][src$="468x60.swf"],
iframe[src*="11.mydrivers.com"],
.l-gg1,
.l-gg2,
.l-gg3,
.r-gg,
#sidebar3[width="100"]
{display:none !important}
#postForm textarea{background:url(no.gif) !important}

/* 太平洋软件 pconline.com.cn */
#PcPoPmarket,
object[id^="ad"],
.ivyTL1,
.adv_top,
[src*="imgad0.pconline.com.cn"],
[src*="imgad0.3conline.com"],
[src*="imgad1.3conline.com"]
{display:none !important}

/* 网易 163.com */
#fcClick,
#fcReplayFrameL,
#fcReplayFrameR,
#dllbFrame,
#dlrbFrame,
#gdtldSwfFrame,
#cfqtzClick1,
#cfqtzSwf1,
#cfqtzSwf2,
.ad-h100,
.ad-h337,
.ad-area,
.tab-ad,
.ad-sub,
.ad-main,
.top-gg-area,
#tcldivtf1,
#tcldivtf2,
#ddivtf1,
.ggarea,
.gg-g24,
.gg_reset,
.gg360,
.gg560,
.colR .ggR,
#ead_ad_14,
[style*="http://img2.126.net/ntesrich/auto/sc/player2.jpg"],
iframe[src*="img1.126.net"],
[id^="i2pd_"],
[id^="mvdiv_"],
[src^="http://g.163.com"],
a[href^="http://g.163.com"]
{display:none !important}

/* 新浪 sina.com.cn */
[id^="ad_"],
[src*="/adstonglan/"],
[src^="http://d"][src*=".sina.com.cn"],
.top-ads,
.palm01-ad,
.part-a-l .mod-01,
.bodyN #top_bar,
.topAD,
.topads,
.adBlock,
.AD355125,
.ad_banner,
.advertisement,
#ad_47200,
#FullScreenWrap,
#CoupletMediaWrap,
#divResNewsBottom,
.ads_120x120_1,
.blkTopGoogleSearch,
.RtTxtAD,
.adNone,
.adNode,
.ATopTxtT,
.ATopTxtB,
.blk_xlzt,
#SteamMediaWrap,
#weibo_ad,
[id^="bigFloatFlash"],
[id^="smallFoloatFlash"],
[id^="i2AS_"],
[id^="_AdSame_"],
[src*="pfp.sina.com.cn/iframe"],
[src="http://news.sina.com.cn/iframe/content2011/bottom/baidu_blue.html"],
a[href*="/adfclick?"],
[id^="crazy_crazy_"],
.sina_zhitou
{display:none !important}

/* 凤凰网 ifeng.com */
.games_right_side,
#imgAdContentLeft,
#leftCoupletId,
#rightCoupletId,
.gg298,
.right .label_3,
.right .adR01,
.adBox,
a[href^="http://bc.ifeng.com/main/c?db=ifeng"],
.pic336 #padhide_524,
.pic600 #padhide_1950,
.left .adarea,
[src^="http://www.taobao.com/go/act/sale/dp"],
[src^="http://img.ifeng.com/test/floatmedia/floatLayer"],
[class^="adFloat"],
#afp_videofm_video,
#ifengAehovering_small,
#crazy_maxdiv,
#crazy_mindiv,
.block_ad,
#icast_pip,
#adv_left,
#adv_right,
#topBj .areaAd,
#topBj .pic660,
#topBj #ad250,
#topBj .ad1000,
#topBj .ad665,
#topBj #crazy_maxdiv,
#topBj #crazy_mindiv,
#topBj [id*="loatFlash"],
#topBj [id^="ifengAeCrimp_"],
#topBj #VideoPlayer,
#final_head_ad,
#adfloatflash,
#floatadtarget,
#flashad,
#box_ad03,
.ad1000,
.ad200,
.ad200-3,
.ad200-4,
.ad300,
.adlist1,
.adlist2,
.adList2,
.adList,
.adList3,
.ad_text,
.ad_pic,
.ad_google,
.maidunbox,
iframe[src*="_ad_"],
iframe[src*="/recommend/yintai/"],
iframe[src*="ifeng.com/tres/recommend/taobao"],
iframe[src*="strip.taobaocdn.com"],
a[href*="eben.cn/ad_order.php?"],
a[href*="&AdID="],
[id^="_iCast"],
[id^="tanxssp-outer-conmm_"],
[id^="ifengAeCrimp_"],
[id^="iCast2_container_div_"],
[id^="i2PT_"],
[id^="flash_outer_"][id*="_flash_click_"],
[id^="couplet"][id$="_left"],
[id^="couplet"][id$="_right"],
[id^="adv_left"],
#embed_hzh_div,
#StreamMediaWrap
{display:none !important}

/* 腾讯网 qq.com */
[style*="z-index: 214748364"],
[data^="http://adsrich.qq.com"],
[src^="http://ads"][src*=".qq.com"],
#topAd,
#tg_qq,
#photo_ad,
#lottery_ad,
#ent_ad,
#PL_adT,
#PL_ad1,
#PL_ad2,
#abroad_ad,
#r_couplet_container_gaoqing_couplet,
.ad_1000_90,
.ad-box,
.phone_ad_960,
.text-ad,
.mian-ad,
.health .ad,
.adver,
.sidBoxNoborder,
.nikeAd01,
.play_bg_ads,
.adLeft,
.adRight,
.sideAd,
.btmAd,
.proArea #proAd,
.news_ad_box,
.AdTop-Article-QQ,
.qiye-Article-QQ,
.AdBox-Article-QQ,
.business-Article-QQ,
.fbad-Article-QQ,
.guanggao,
.guanggao0520,
.kjad2,
#Article-QQ .followall_mod,
#zs_news embed[id="flash_focus"],
[id^="couplet_auto_gen_"],
a[href*="qq.com/adsclick?"],
[class$="_qq_com"]
{display:none !important}

/* 115网盘 u.115.com */
.make-honor,
.main [class^="ban-"],
iframe[id^="frame_tjj_"]
{display:none !important}

/* 天涯 tianya.cn */
[id*="_AD_"],
#couplet_left_adsp_banner_couplet,
#couplet_right_adsp_banner_couplet,
#adsp_list_left_floatDiv,
#adsp_content_top_banner,
#adsp_content_banner_2,
#adsp_list_left_small_floatDiv,
#adsp_content_left_div,
#bottom_gohome,
#float_right_parent_div,
.focus_ad,
.ad_w_box,
.adarea-l,
.focus_adarea,
#spaceBrandAd,
#q_topbanner_950_90,
#q_backbanner_950_90,
#couplet_left_NULL,
#couplet_right_NULL,
#tianyaBrandSpan1,
#ty_msg_mod,
#bottomnav_myservice_suning,
a[href*="tianya.cn/count?t="],
[onclick*="tianya.cn/count?t="],
[src*="801.tianyaui.com"],
[src*="801.tianya.cn"]
{display:none !important}

/* 中国站长站 chinaz.com */
.ad-text,
iframe[src*="images.chinaz.com"],
iframe[src*="www.chinaz.com/Union"]
{display:none !important}

/* eNet硅谷动力 enet.com.cn */
embed[id="Advertisement"],
.advlist
{display:none !important}

/* 126邮箱 126.com */
.g-dxgg
{display:none !important}

/* 新华网 news.cn */
iframe[src="http://www.xinhuanet.com/xldb_iframe.htm"],
iframe[src*="xinhuanet.com/classad/"],
iframe[src*="ad_iframe"],
[src*="/ad/"]
{display:none !important}

/* 中华网 china.com */
.adclass,
.homeheadAT,
.fullClmAT,
#googleWideAds,
[id^="AC_CR"],
[src*="adtv_china.swf"]
{display:none !important}

/* 铁血网 tiexue.net */
#adinfoList,
#AdTopBarLeft,
#AdTopBarRight,
[id^="Baidu_WWW_TopAD"],
[id^="Baidu_Mil_TopAD"],
[id^="Baidu_BBSPostNormalV3ContentTopAD"],
#forbaidustatisticmil_244,
[id^="baidu_clb_slot_"],
#div11_Cow_cn,
iframe[src*="itiexue.net/proxy.htm?id="]
{display:none !important}

/* 西陆战友社区 xilu.com */
span[id="SuiShi"],
.xl_ad,
.bbs_topad,
.ad0116,
.ad1230,
embed[src*="content.xilu.com"],
iframe[src*="code.37cs.com"],
[class^="page_adbox"],
a[href$=".info/?id=xl"],
iframe[src*="img.alimama.cn"],
iframe[src="http://www.xilu.com/iframe/pagepic/"]
{display:none !important}

/* 盛大 sdo.com */
a[href*="adrs.sdo.com"],
[id^="bambookad"],
.ibw_container
{display:none !important}

/* 天极 yesky.com */
.adtext,
.ad950,
.ad320,
.ad250,
#ad3,
[class^="adv_yesky"]
{display:none !important}

/* 中国新闻网 chinanews.com */
#ngg,
.gghzh,
.tlgg,
[src*="chinanews.com/gg/"],
iframe[src*="chinanews.com/ad"]
{display:none !important}

/* MSN中文网 cn.msn.com */
[src="http://css.cn.msn.com/banner_ad.html"],
[src="http://css.cn.msn.com/right_ad.htm"],
[src*="fun.ynet.com"],
[src*="show.mediav.com/s?"],
[class^="banner_ad_"],
.banNSch,
.ad_1,
.ad_2,
.ad_1_bottom,
#bigFloatFlash4222,
#smallFoloatFlash4222
{display:none !important}

/* 新民网 xinmin.cn */
[src^="http://iads.xinmin.cn"]
{display:none !important}

/* 电影天堂 dygod.net */
[src="http://www.xie51.com/g/b.jpg"],
iframe[src*="/gg/"],
iframe[src*="37cs.com"],
iframe[src*="?aid="],
#ShowQQ #ImgLayer
{display:none !important}

/* 非凡软件站 crsky.com */
#crsky .banner-leader-index,
#crsky .banner-leader,
[src*="/ggao/"]
{display:none !important}

/* 必应 cn.bing.com */
[class^="sb_ads"],
[src*="www.content4ads.com/live.php?url="],
a[href*="www.bingpk.com/?adsrc="]
{display:none !important}

/* 麦库 mknote.com */
[src="http://note.sdo-static.com/c/images/0506index/publicad.png"]
{display:none !important}

/* 下载吧 xiazaiba.com */
#content #ad,
.ads_34,
.adArea2,
.w960 aside,
[class="pc-soft-tab-content s-bd"],
[src*="/uploadfiles/ads/"],
[src*="/uploadfiles/xert_img/"]
{display:none !important}

/* google.com */
a[href^="http://da.feedsportal.com/"],
#rhs #rhs_block,
#bottomads,
#taw #tads
{display:none !important}

/* 爱奇艺 iqiyi.com */
[id^="xc"][id*="ALYSRAND"],
[src*="/pageer.swf?"],
a[href^="http://afp.qiyi.com/main/c?"],
a[id="clicka"],
.crossAd,
.index_rt_adv,
.rightAdv,
[id^="flash10000000000"],
#adflash,
#floatLayerFavDiv
{display:none !important}

/* 新浪微博 weibo.com */
[class="hot_share_main vd_right_line"],
[ad-data^="id=ads_"],
#hotUserList,
.WB_right_module .lbs_map,
[feedtype="ad"],
.advertise-list,
.vd_ads,
.WB_feed .popular_buss,
.MIB_mbloglist .tipsBox,
.MIB_mbloglist .tips_player,
.MIB_mbloglist .randomYellow,
.MIB_mbloglist .missionBox,
.MIB_linkar [id^="ads_"],
.W_miniblog [id^="ads_"],
.MIB_linkar .index_envelopes,
.MIB_linkar #maybe_friens_container,
.MIB_linkar #maybe_friens_task,
.MIB_linkar #right_hot_user,
.MIB_linkar .widgetIntroduce,
.party_eighteen,
#ads_bottom_1
{display:none !important}

/* 榕树下 rongshuxia.com */
a[href^="http://ad.rongshuxia.com/r.php?"]
{display:none !important}

/* 游民星空 gamersky.com */
embed[src^="http://image.gamersky.com/img/"],
.topbod .topbodr,
.topadbod,
#adsFloating,
#closeFloating
{display:none !important}

/* 奥一网 oeeee.com */
[id^="flow-ad-"],
.bbs-ad,
#header_left_top .header-810,
#makewing1,
#makewing2,
.index-gd810,
form #ljgg,
form [class^="textad-"],
form [class^="ad-"]
{display:none !important}

/* 多特软件站 duote.com */
.d_main #ad,
.d_main .d_gg
{display:none !important}

/* 中国天气网 weather.com.cn */
[class^="adposter_"]
{display:none !important}

/* gmail.com */
.nH .Zs,
.adC .nH .aoh
{display:none !important}

/* 人人影视 yyets.com */
.ad_dow,
.ad_details,
iframe[src*="www.uctrac.com"],
#cow_float_2
{display:none !important}

/* 猫扑 mop.com */
[class^="adarea_"],
[src^="http://pub.mop.com/widget.jsp?bId="]
{display:none !important}

/* 豆丁网 docin.com */
#doc-playerAd
{display:none !important}

/* 联合早报 zaobao.com */
#FLASH_AD
{display:none !important}

/* 盘古搜索 panguso.com */
.rightguanggao
{display:none !important}

/* 搜搜 soso.com */
.ad_zdq,
#side #rads,
[ss_c^="ad_"]
{display:none !important}

/* 搜狗 sogou.com */
.picad,
.advlink,
#sogou_ie_right,
#bdfs0,
#wrapper #main #promotion_adv_container,
#wrapper #main .sponsored
{display:none !important}

/* 有道 youdao.com */
#resc #spTop,
#ext #splink,
[class^="googleAds"]
{display:none !important}

/* 印象笔记 yinxiang.com */
#gwt-debug-ad
{display:none !important}

/* 人民网 people.com.cn */
.top_ad_list,
[id^="yodaoad"],
[id^="CoupletDiv"],
[src^="http://www.people.com.cn/adv/"]
{display:none !important}

/* 汽车之家 autohome.com.cn */
.advbox,
.advarticle,
.advbox1,
.advbox3,
.md_advbox,
.hotcar_adv
{display:none !important}

/* 去哪儿 qunar.com */
[href*="AdID="],
[name="flashad"]
{display:none !important}

/* 东方财富网 eastmoney.com */
.lyad,
iframe[src^="http://same.eastmoney.com/"]
{display:none !important}

/* 即刻搜索 jike.com */
.adv_show_item,
.adBgWhite
{display:none !important}

/* 雅虎 yahoo.com */
[id^="tanx_"],
.txt_ad1,
.hd_ad,
.ad_box,
.tao_a_d_h,
.v_tab_a_d,
.a_d_lrc
{display:none !important}

/* 腾讯微博 t.qq.com */
#homeBannerNew
{display:none !important}

/* 360搜索 so.com */
#m-spread-left,
#m-spread-right
{display:none !important}

/* 58同城 58.com */
[id*="_gg_ad"],
[id*="google_ad"],
[id^="direct_ad_"],
.detailBottomAd,
.baidu_cproad,
#sideAD,
#googlead_list
{display:none !important}